/* 
    Document   : manage_reservations_style
    Created on : Nov 11, 2013, 2:27:30 PM
    Author     : Shivaraj@storeking.in
    Description:To style the manage_trans_reservations page
*/
h2 {  width: 788px; float: left;   }

fieldset {
    padding: 0 0px 0 12px !important;
    background-color: #F1F0F5;
    border-color: #E6E6E6;
}
select {
    margin: 10px 0 5px 5px;
/*    width: 204px;*/
}
label {
    margin:10px 0 15px 5px;
}
.leftcont { display: none;}
table.datagridsort tbody td { padding: 4px; }
.datagrid td { padding: 1px; }
.datagrid th { background: #443266;color: #C3C3E5; }
.subdatagrid {    width: 100%; }
.subdatagrid th {
    padding: 4px 0 2px 4px !important;
    font-size: 11px !important;
    color: #130C09;
    background-color: rgba(112, 100, 151, 0.51);
}
.subdatagrid td {
        /*font-size: 11px !important;*/
        padding: 4px !important;
}
.loading {
    text-align: center;
    margin: 2% 0 0 48%;
    /*visibility: visible;*/ 
    font-size: 15px; 
}
.trans_pagination {
    float: right;
    font-size: 20px;
    margin: 10px 40px 6px 0;
}
.trans_pagination a {
    color: #606EBD;
    background: #C3C3E5;
    padding: 1px 5px;
}
.trans_pagination a:hover {
    background: #EFEFF5;
}
.pagination_top {
    padding-top: 0px;
    margin: 2px 4px 6px 0;
}
.curr_pg_link {
    background: #443266;
    color: #f1f1f1;
    padding: 1px 5px;
    margin-left: 5px;
}
.clear {
    clear: both;
}
.log_display {
    font-weight:bold;margin-right: 0;
    margin-top: 10px;
    margin-left: 300px;
}
.limit_display_block {
    float: left;
    margin-right: 00px;
    margin-top: 15px;
}
.limit_display_block select {
    margin-top: 0;
}
.retry_link {
    margin-top: 20px;
    cursor: pointer;
    color:#f4f4f4;
    background-color: #3B3BB9 !important;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
}
.batch_msg_enabled { margin-top:20px; cursor: pointer;color: #EC0009 !important; }
.batch_msg_disabled { margin-top: 20px;
    cursor: pointer;
    color: #f4f4f4;
    background-color: #ff7777 !important;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px; }
.proceed_link { margin-top: 20px;
    cursor: pointer;
    color: #f4f4f4;
    background-color: #447049 !important;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px; }
.btn_picklist {
    background-color: #496268 !important;
}
.info_links a {
    color: #4318B3;
    /*background-color: #36EC4C !important;*/
}
.small_link { font-size: 80%; color: #455566;}
.danger_link {
    margin: 7px;
}
.above_header_block_btns { margin-right: 0px; margin-top: 27px;float: right; float: right; display:block; }

.re_allot_all_block a  { color: #F1EFEE;background:#FF7777; }
.re_allot_all_block {    float:right;font-weight: bold; padding: 0px;min-width: inherit; border-radius: 3px;}
.re_allot_all_block:hover,.re_allot_all_block a:hover {  background-color: #FA1527 }
.batch_btn_link {  float: right;}
.process_by_fran_link { float: right; }

.ttl_trans_listed {float: left; 
max-width: inherit;
min-width: inherit;
margin: 0 0 7px;}
.level1_filters { float:left;margin-top: 5px; width: 100%;
                 /*margin-right: 5px; */ 
}
.fran_experience {
    font-weight:bold;font-size:10px;padding: 2px 3px;border-radius: 3px; margin-top:5px;
}
 #list_wrapper .tab_list{
        clear:both;
        display: block;
        border-bottom: 1px solid #363692;
}
#list_wrapper .tab_list ol{
        padding-left:0px;
        margin-bottom: 0;
}
#list_wrapper .tab_list li{
        display: inline-block;
}
#list_wrapper .tab_list li a{
        display: block;
        background: #F1F0FF;
        padding:5px 20px;
        font-size: 13px;
        color: #454545;
        cursor:pointer;
        font-weight: bold;
        text-decoration: none;
}
#list_wrapper .tab_list li a.selected{
    background: #443266;
    color: #C3C3E5;
}
/*  Start - filters code      */
h3.filter_heading { margin-bottom: 0px; margin-top: 0;width: 788px;}
.filters_block {
    float: left;
    padding-bottom: 27px;
    width: 99%;
    display: block;
    display: none;
}
.filters_block .group_filter {
    float: left;
}
.filters_block .date_filter {
    float: right;
    margin-top: 10px;
}
.close_filters {
    display: table;
    width: 100%;
    float: right;
    cursor:pointer;
    background-color: #DFE0F0;
    padding: 2px 7px 2px 6px;
}
.close_btn {
    float: right;
    margin-right: 8px;
    cursor:pointer;
    color:#D50C0C;
    font-weight: bold;
    font-size: 11px;
}
.level2_filters {
    margin: 20px 0px;
}
/*  Start - filters code      */
.partial_ready { color:#cd0000;font-weight:bold; padding:4px 6px; }
.heading_no_results { margin:2px;text-align:center }
#date_from,#date_to {width: 90px;}
#trans_list_replace_block {padding:1px 0px; clear: both;}
.str_time { padding: 5px 0 5px; }
.trans_created_by { padding: 5px 0 5px; font-size: 11px; 
                   /*font-weight: bold;*/ 
}
input[type="submit"] { height: 30px; }

.datagrid .small_text { font-size: 10px; }
.btn_picklist_block { float: right; margin-right: 25px;}

.create_batch_msg_block {
    padding: 5px 5px;
    margin: 2px 2px;
    color: #E0260D;
}
.show_by_group_block {padding: 5px 33px; float: left;}
.view_all_orders a {
    margin-top: 5px; font-size: 11px;
}
.order_status_yes {
    /*background-color: #C3C3E5;*/
}
.order_status_no {
    /*background-color: #99CC99;*/font-weight: bold;
    color: #993300;
}
.order_status_no a {
    font-weight: bold;
    color: #993300;
}
.sel_terr_block {
    float: left;
    margin: 0 9px 0 2px;
}
.sel_terr_block select {
    margin: 0;
}
.oldest_newest_sel_block {
    float: right;
    margin: 3px 9px 0 2px;
}
.oldest_newest_sel_block select {
    margin: 0;
    width: 100px;
    background-color: #7D7683;
    color: whitesmoke;
    width: 100px;
    font-weight: bold;
}
.ungrouped_item {
    background-color: #7D7683;color: whitesmoke; text-align:center;
    padding: 5px; font-weight: bold;
}